/* Container for the health bar */
#health-bar-container {
    width: 200px;           
    height: 20px;        
    border: 2px solid black; 
    border-radius: 5px;    
    background-color: #1f371edf; 
    overflow: hidden;      
    margin-bottom: 10px;   
}

#health-bar {
    height: 100%;        
    background-color: green; 
    width: 100%;            
    border-radius: 5px 0 0 5px;
    transition: width 0.5s ease, background-color 0.5s ease; 
    
}

